body, html {
	height: 100%;
	min-height: 100%;
	/*background-color: #000000;*/
}
body {
	font-family: 'Enriqueta', serif;
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	/*min-width: 960px;*/
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	/*max-width: 700px;*/
	position: absolute;
/*	left: 1%;*/
	top: 23%;
}

	.hsContent p {
		width: 400px;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* Slide 1 */
#slide-1 .bcg {background-image:url('/images/lake.jpg')}
#slide-1 .hsContent {
	bottom: 200px;
	/*top: auto;*/
}

/* Slide 2 */
#slide-2 .bcg {
		/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #B8B8B8 0%, #FFFFFF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #B8B8B8 0%, #FFFFFF 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #B8B8B8 0%, #FFFFFF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #B8B8B8), color-stop(1, #FFFFFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #B8B8B8 0%, #FFFFFF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #B8B8B8 0%, #FFFFFF 100%);
}
#slide-2 .hsContent {
	/*bottom: 200px;*/
	top: auto;
	padding: 0;
}

.active {
    color: #fff !important;
    text-decoration: underline !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav {
	padding: 0;
}

.top-bar {
	/*background-color: #13275A;*/
	background-color: #3E4967;
	padding: 15px;
	color: white;
	font-style: bold;
	font-size: 1.5em;

}

.top-bar a {
	color: white;
	padding-right: .5em;
}

.top-bar a:hover {
	opacity: .5;
	text-decoration: none;
}

.top-bar p {
	display: inline-block;
    margin: 0;
}



.top-bar li {
	list-style-type: none;
	display: inline;
	padding-right: .8em;
}

.top-bar ul {
	margin-bottom: 0;
	text-align: right;
}



/* Large Devices, Wide Screens */
    @media only screen and (max-width : 768px) {

		.left-top {
			text-align: center;	
		}

    }



