section {
    padding: 100px 0 0 !important;
}


input {
    float: left;
}

input {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input:focus {
    border-color:#333;
}

input {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input {
    margin: .5em;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

input {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input:hover {
    opacity: .5; /* Green */
    color: white;
}

.desc {
    padding: 2.2em;
}