body {
    padding-top: 0;
}

.navbar {
    position: relative;
}

.container {
    position: relative;
}

button, select {
    margin: 0 .1em;
}

.shots-side select {
    display: block;
    margin: .3em 0;
    width: 100%;
}


.tooltip.shots {
  /* basic */
  max-width:300px;
  z-index:10;
  margin: 0px 14px 7px 0px;
  /* style and design */
  padding:8px;
  background:#222; /* fallback if rgba not supported */
  background:rgba(0,0,0,0.8);
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow:2px 2px 0 rgba(0,0,0,0.15),-1px -1px 0 rgba(255,255,255,0.3);
  -webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.15),-1px -1px 0 rgba(255,255,255,0.3);
  box-shadow:2px 2px 0 rgba(0,0,0,0.15),-1px -1px 0 rgba(255,255,255,0.3);
  /* font */
  font-family:Verdana,Geneva,sans-serif;
  font-size:11px;
  line-height:16px;
  color:white;
  z-index: 100000;
}

#sideInfo {
    text-align: center;
}

a {
  color:gold;
}

a:hover {
  color:gold;
}